.component-followCard {
  background-color: #222222;
  margin: 24px 0;
  color: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followCard-title {
  padding: 0 24px;
  margin: 18px 0 10px;
  font-size: 20px;
}


.followCard {
  padding: 0 20px;
  height: 72px;
  width: 348px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.followCard:hover {
  background-color: #272727;
}

.avatar {
  border-radius: 50%;
  height: 46px;
  margin-right: 12px;
}

.followCard-content {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.followCard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.followCard-info.isFollowing {
  max-width: 130px;
}

.followCard-user {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
}

.followCard-user.isFollowing {
  max-width: 132px;
}

.followCard-user:hover {
  text-decoration-line: underline;
}

.followCard-info-userName {
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
}


.followCard-button {
  margin: 5px 0 5px 8px;
  padding: 0 16px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #eee;
}

.followCard-button:hover {
  background-color: #ddd;
}

.followCard-button.isFollowing {
  background-color: transparent;
  color: #ddd;
  border: 1px solid #666;
  width: 145px;
}

.followCard-button.isFollowing:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .4s ease all;
  opacity: 1;
}

.followCard-button.isFollowing:hover .button-text {
  display: none;
}

.followCard-button.isFollowing:hover .button-text-stopFollow {
  display: block;
}

.button-text-stopFollow {
  display: none;
}


.followCard-button-more {
  background-color: transparent;
  border-radius: 0 0 24px 24px;
  height: 45px;
  color: #1d9bf0;
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
  border: none;
}

.followCard-button-more:hover {
  background-color: #272727;
}